html {
  background-color: #e7eff4;
  margin: 0;
  padding: 0;
}

.container {
  width: 1240px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

body {
  font-family: "Lantinghei SC", "Open Sans", "Lucida Grande", Helvetica, "PingFang SC", STheiti, Verdana, "microsoft yahei", "simsun", Geneva, sans-serif;
  margin: 0;
  padding: 0;
}